@charset "UTF-8";

@font-face {
    font-family: 'Gayathri';
    src: url('res/fonts/Gayathri-Thin.otf');
}

::placeholder {
  color: #808080;
  font-size: 17px;
}

body {
	margin:0px;
 	padding:0px;
 	color:#333333;
 	
 }

header{
	background-color: #333333;
	padding: 10px 30px 10px 10px;
	position: relative;
	display: flex;
    justify-content: space-between;
    place-items: center;

}

h1{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin-bottom:40px;
}


#presentation{
	display: flex;
    justify-content: space-between;
    padding-right: 30px; 
    place-items: center;
}



#inscrire{
	background-color: #e83b3b;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    font-size:17px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    cursor: pointer;
    border:none; 
 	margin:10px 0px 10px 0px;
 	text-decoration: none; 
    place-items: center; 
    width:20%;
	min-width: 50px;
	height: 28px;
}

#inscription{
	background-color: #2582ea;
    color:white;
    margin:15px 15px;
    font-weight: bold;
    font-size:20px;
    padding: 10px 40px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    border:none; 
    text-decoration: none;  
}

#connexion{
	background-color:white;
	margin:15px 15px;
    color:black;
    font-weight: bold;
    font-size:20px;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border:none; 
    text-decoration: none;  
}



#slogan{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #ffffff;
	padding-left: 40px;
	font-size:25px;
}

input{
	color: black;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:16px;
	border-color:black;
	border-width: 1.5px;
	border-radius: 5px;
	margin : 2% 0px 2% 0px;
	width: 45%;
	height:3.5%;
	vertical-align:middle;
}

select,option{
	color: black;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:16px;
	border-color:black;
	border-radius: 5px;
	margin : 2% 0px 2% 0px;
	width: 45%;
	height:3.5%;
}


#Logo{
	
	width: 100px;
	height: 100px;
	
}

#Copyrights{
	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #ffffff;
	padding-right: 40px;
	font-size:13px;
		
}


#Facebook{
	width: 50px;
	height: 50px;
	padding-right:20px; 
	padding-left:20px;
}

#Twitter{
	width: 50px;
	height: 50px;
}

#photo{
	width:1940px;
	height:1300px;
	position:absolute;
	overflow:hidden;

}

#main{
	display: flex;
}

#civil{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin:0;
	padding:0;
	width:45%;
	height:3.5%
	
}

#madame,#monsieur,#rien{
	margin:0;
}

#women,#men{
	margin-left:-20px;
	margin-right:5px;
}

#none{
	margin-right:22px;
	margin-left:-20px;
	white-space:nowrap;
}


#image{
	width:50%;
	height:70%;
	display:flex;
	padding : 0px 0px 0px 0px;
}


#formulaire{
	place-items: center;
	overflow:auto;
	display:flex;
	flex-direction: column;
	width:50%;
	padding : 10px 0px 0px 0px;
	margin : 10px 20px 10px 20px;
}

#erreur{
	color:red;
}

footer{
	background-color: #333333;
	place-items: center;
	position: relative;
	bottom:0;
	width: 100%;
	margin:0; 
	display: flex;
    justify-content:space-between;
	padding: 10px 0px 10px 0px;
}

/* Responsive layout - when the screen is less than 800px wide, the picture is hidden */
@media only screen and (max-width: 1150px) {
	
	#formulaire {   
      width: 100%;
     
    }
    
    #image{
	width:0%;
	}
	
	#main{margin: 0 0 2% 0;}
    
}


@media (max-aspect-ratio: 16/9) and (min-width: 1150px){
	
	footer{
	position:absolute;
	margin-top:20px;
	}
	
	
}



.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px solid #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

